.hero-section {
  position: relative;
  margin-top: 100px;
  width: 100%;
  height: auto; /* Adjust as needed */
  display: flex;
  flex-direction: column; /* Display children in a column */
  align-items: center; /* Center items horizontally */
}

.hero-image {
  width: 100%;
  height: auto;
  display: block;
  z-index: 1; /* Set z-index to ensure it's behind the text */
}

.hero-text {
  position: absolute;
  top: 0; /* Position the text at the top of the container */
  left: 0; /* Position the text at the left of the container */
  width: 100%; /* Take full width */
  text-align: center;
  color: white; /* Adjust text color as needed */
  background-color: rgba(140, 224, 224, 0.7);
  padding: 20px; /* Add padding for spacing */
  z-index: 2; /* Set z-index to ensure it's above the image */
}

.hero-text h1 {
  font-size: 2.5rem; /* Adjust heading font size as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}

.hero-text p {
  font-size: 1.2rem; /* Adjust paragraph font size as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .hero-text {
    order: -1; /* Move the text section before the image */
    padding-bottom: 20px; /* Add space between text and image */
  }

  .hero-image {
    margin-top: 20px; /* Add space above the image */
  }

  .hero-text h1 {
    font-size: 1.8rem; /* Adjust heading font size for mobile devices */
  }

  .hero-text p {
    font-size: 1rem; /* Adjust paragraph font size for mobile devices */
  }
}
